In [6]:
example_list = ["Jim", "Bob", "Lizzy", "Jen", "Mark"]

In [8]:
example_list[:3]

['Jim', 'Bob', 'Lizzy']

In [14]:
ex2 = [4,7,23,57,5,8,65,3124,123]

In [20]:
ex2[::2]

[4, 23, 5, 65, 123]

In [24]:
ex2[::-1]

[123, 3124, 65, 8, 5, 57, 23, 7, 4]

In [25]:
greeting = "Hello my name is John"

In [26]:
greeting[::-1]

'nhoJ si eman ym olleH'

In [29]:
greeting[::-1]

'nhoJ si eman ym olleH'

In [31]:
a = [1,12,32,3,3,3,3,3,2,2,2,2,2,2,4,5,5,5,5]

In [32]:
set(a)

{1, 2, 3, 4, 5, 12, 32}

In [33]:
set(a:-1)

SyntaxError: invalid syntax (<ipython-input-33-52c734e1b7c0>, line 1)

In [34]:
set(a[::-1])

{1, 2, 3, 4, 5, 12, 32}

Lists - can replace, tuples - immutable

In [36]:
example_list1 = ["a", "b", "c", "d", "e"]

In [37]:
example_list[2] = "Hello my niggaz"

In [38]:
example_list1[2] = "Hello my niggaz"

In [40]:
example_list1

['a', 'b', 'Hello my niggaz', 'd', 'e']